$fuente_principal: "Montserrat", sans-serif; 

$primary: #2E8B57;
$secondary: #3CB371;
$accent: #98FB98;
$background: #F4F1DE;
$text: #284B63;
$error: #FF5252;
$warning: #E9C46A;

$verde:#deffdd;
$verdeagua:#2e8b86;
$azul:#2e798b;
$azulrey:#2e628b;
$darkazul:#2e4b8b;

$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400;
